name: C

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: install deps
      run: sudo apt-get update && sudo apt-get install -y txt2tags cproto
    - name: make clean
      run: make clean
    - name: make
      run: make
